<h1>Bienvenido a GoShop!</h1>
<div class="welcome-text">
  <h2 class="h2Principio">Somos Goshop</h2>
  <p class="textoPrincipio">
    En Goshop, ofrecemos una amplia gama de productos de alta calidad a precios competitivos. 
    Descubre nuestras categorías y encuentra lo que necesitas con facilidad. ¡Compra con confianza!
  </p>
</div>

<!-- Banner BlackMonth -->
<div class="black-month-banner">
  <img src="/images/blackMonth.png" alt="Black Month Offer">
</div>
<h2 class="h2Principio">Algunas de nuestras marcas</h2>
 <p class="textoPrincipio2">
    En GoShop, solo las mejores marcas oficiales tienen un lugar. Creemos en la calidad, la confianza y la seguridad, por eso, hemos creado una plataforma donde solo las tiendas y fabricantes certificados pueden ofrecer sus productos. Aquí no cualquiera puede vender, ya que cada marca debe cumplir con estrictas normativas para asegurar la autenticidad y excelencia de todo lo que encuentres en nuestro catálogo.

Marcas reconocidas como Adidas, Nike, Lacoste, Reebok, JBL, Stanley, Thonet Vander, entre otras, se han unido a GoShop para que puedas comprar con la tranquilidad de que estás adquiriendo productos 100% originales y de la más alta calidad.

Nuestro objetivo es brindarte una experiencia de compra premium, donde la confianza es nuestra prioridad. ¡Bienvenido a GoShop, donde solo las marcas líderes tienen espacio!


  </p>
<div class="black-month-banner">
  <img src="/images/marcas.jpg" alt="Black Month Offer">
</div>
